body {
  background: url(http://www.eduplace.com/science/hmsc/content/cricket/graphics/ckt_1b52_lake.jpg);
    background-size: cover;
    margin:  40px auto;
}

h1{
  font-weight: bold; 
  color: #C00000;
}

div {
  height: 50px;
  width: 200px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 25px;
}

.div-class {
  border: 2px solid red;
  border-radius 25px;
}

#div-id {
  border: 5px dotted green;
  border-radius 5px;
}